<section class="bg-white py-16 h-screen">
    <div class="container mx-auto flex items-center">
      
      <div class="w-1/2 pr-20 py-25 ">
          <h1 class="text-7xl font-bold text-red-700">
              Nosotros
          </h1>
          <div class="w-80 h-2 bg-black mt-2 "></div>
          <p class="mt-8 text-gray-700  text-3xl ">
              En Metal Fusion, somos más que una ferretería: somos tu aliado en cada proyecto. 
              Desde nuestros inicios, nos hemos comprometido a ofrecer productos de alta calidad, 
              atención personalizada y soluciones prácticas tanto para profesionales de la construcción como 
              para entusiastas del bricolaje. Contamos con un amplio catálogo de herramientas, materiales de 
              construcción y accesorios seleccionados para garantizar durabilidad, eficiencia y buen precio.
          </p>
      </div>
  
  
      <div class="w-1/2">
          <img src="/images/nosotros.jpg" alt="Trabajador de la construcción usando un taladro" class="w-full h-auto rounded-lg shadow-lg">
      </div>
  
    </div>
  </section>