---
import ClockIcon from "./Icons/ClockIcon.astro"
import EmailIcon from "./Icons/EmailIcon.astro"
import MapPinIcon from "./Icons/MapPinIcon.astro"
import PhoneIcon from "./Icons/PhoneIcon.astro"


const contactos = [
    {
        icon: MapPinIcon,
        title: "Dirección",
        description: "1ra Avenida. 4-73 Zona 1, Escuintla"
    },
    {
        icon: PhoneIcon,
        title: "Teléfono",
        description: "+502 5777-4270 ó +502 7973-1479"
    },
    {
        icon: EmailIcon,
        title: "Correo Electrónico",
        description: "Metalfusiongt@gmail.com"
    },
    {
        icon: ClockIcon,
        title: "Horario",
        description: "Lunes a Viernes: 7am - 5pm, Sábado: 7am - 3pm, Domingo: 7am - 2pm"
    }
]
---
<section id="visitanos" class="flex flex-row w-full h-screen">
    <!-- Aca va el titulo e info -->
    <div class="flex flex-col justify-center w-1/2 p-10 bg-gray-100 text-gray-800 gap-4 text-justify">
        <h2 class="text-6xl text-[#C00000] font-bold text-justify">Visita nuestra tienda</h2>
        <p class="text-lg w-xl">Visitenos personalmente para obtener la mejor selección y asesoramiento experto. Estamos aqui para ayudarte con todas sus necesidades de hardware</p>
        <div class="mt-6">
            <ul class="list-none flex flex-col gap-5">
                {contactos.map(contacto => (
                    <li class="flex flex-row items-center gap-4 p-2text-justify">
                        <span>{<contacto.icon class="text-gray-500"/>}</span>
                        <div>
                            <p class="font-semibold">{contacto.title}</p>
                            <p>{contacto.description}</p>
                        </div>
                    </li>
                ))}
            </ul>
        </div>
    </div>
    <!-- Aca ira el mapa -->
     <div class="relative  w-1/2 overflow-hidden">
         <iframe class="w-full h-full" src="https://www.google.com/maps/embed?pb=!1m25!1m12!1m3!1d483.2650377334901!2d-90.78814521395758!3d14.304442143179509!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m10!3e6!4m4!1s0x85891d745d2d09e3%3A0x4d936e3bb8c91389!3m2!1d14.3044368!2d-90.78789069999999!4m3!3m2!1d14.3044668!2d-90.7878187!5e0!3m2!1sen!2sgt!4v1750830960686!5m2!1sen!2sgt" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <!-- <img class="inset-0 w-full object-cover" src="/images/Local.png" alt=""> -->
     </div>
</section>