
---
const contactos = [
    {
        icon: "游늸",
        title: "Direcci칩n",
        description: "123 Calle Principal, Ciudad, Pa칤s"
    },
    {
        icon: "游",
        title: "Tel칠fono",
        description: "+1 234 567 890"
    },
    {
        icon: "九괦잺",
        title: "Correo Electr칩nico",
        description: "contacto@tienda.com"
    },
    {
        icon: "游깷",
        title: "Horario",
        description: "Lunes a Viernes: 9am - 6pm, S치bado: 10am - 4pm, Domingo: Cerrado"
    }
]
---
<section id="visitanos" class="flex flex-row h-screen w-full">
    <!-- Aca va el titulo e info -->
    <div class="flex flex-col justify-center w-1/2 p-10 bg-gray-100 text-gray-800 gap-4 text-justify">
        <h2 class="text-6xl text-[#C00000] font-bold">Visita nuestra tienda</h2>
        <p class="text-lg w-xl">Visitenos personalmente para obtener la mejor selecci칩n y asesoramiento experto. Estamos aqui para ayudarte con todas sus necesidades de hardware</p>
        <div class="mt-6">
            <ul>
                {contactos.map(contacto => (
                    <li class="flex flex-row items-center gap-4 p-2 border-b border-gray-300 text-justify">
                        <span>{contacto.icon}</span>
                        <div>
                            <p class="font-semibold">{contacto.title}</p>
                            <p>{contacto.description}</p>
                        </div>
                    </li>
                ))}
            </ul>
        </div>
    </div>
    <!-- Aca ira el mapa -->
     <div>
        <img class="inset-0 w-full h-full object-cover" src="/images/Local.png" alt="">
     </div>
</section>